*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* nav styling*/
nav{
    width: 100%;
    height: 60px;
    background-color: rgba(49, 2, 2,.8);
    padding: 5px;
    margin-top: 0;
    
}
.wrapper h1{
    text-transform: uppercase;
    animation: title 6s;
    color: blanchedalmond;
    letter-spacing: 3px;
    font-style: oblique;
}
/* @keyframes for title*/
@keyframes title{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        color: blanchedalmond;
    }
}
/* nav-links start*/
nav li{
    list-style: none;
}
.nav-links{
    float: right;
    display: flex;
    justify-content: space-around;
    width: 45%;
}
.nav-links a{
    text-decoration: none;
    text-transform: uppercase;
    color: blanchedalmond;
}
.nav-links a:hover{
    background-color: blanchedalmond;
    color: black;
}
/* nav-links end*/
.container{
      width: 500px;
      background-color: rgba(0, 13, 14, 0.2);
      box-shadow: 10px 5px 20px rgba(0,0,0, .4);
      padding: 5px;
      margin-top: 15px;
      margin-bottom: 15px;
}
.container h2{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 3px;
}
.buy-tickets{
    margin-top: 40px;
}
.buy-tickets h3{
     text-transform: uppercase;
     padding: 7px;
     letter-spacing: 3px;
    
}
button{
    width: 100px;
    border-radius: 5px;
    padding: 5px;
    color: blanchedalmond;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    
}
.btn1{
    background-color: rgb(172, 123, 2);
}
.btn2{
    background-color: green;
}
.container p{
    font-weight: bold;
}
.form{
    background-color: white;
    padding: 30px;
    width: 500px;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0, .4);
    margin-top: 30px;
}
.form h2{
    text-transform: uppercase;
    text-decoration: underline;
    color: seagreen;
    padding: 5px;
    margin-bottom: 40px;
    letter-spacing: 2px;
}
.form h3{
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 4px;
}
#name{
    border-radius: 6px;
    padding: 6px;
    text-align: center;
    margin-top: 12px;
}
#dob{
    width: 70px;
    padding: 5px;
    margin-top: 12px;
}
.gender{
    margin-top: 6px;
    margin-bottom: 8px;
    padding: 3px;
    text-transform: uppercase;
    font-weight: bold;
}
.payment{
    margin-top: 6px;
    margin-bottom: 8px;
    padding: 3px;
    text-transform: uppercase;
    font-weight: bold;
}
.submit{
    width: 100%;
    background-color: seagreen;

}
.width{
    width: 100%;
}
/* main-content styling*/
.main-content{
    width: 700px;
    
}
.title{
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: underline;
    padding: 3px;
    margin-top: 15px;
}
.main-content P{
    font-weight: bold;
    font-size: 20px;

}
.boy{
    text-transform: uppercase;
    padding: 10px;
    font-size: 20px;
    image-orientation: initial;
}
.prizes{
    margin-top: 10px;

}
.footer{
   width: 100%;
   background-color: rgba(49, 2, 2,.8);
   padding: 4px;
   border-radius: 20px;
   color: blanchedalmond;
}
footer{
    display: flex;
    justify-content: space-around;
}
.footer a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 6px;
    color: blanchedalmond;
}
.copy{
    text-transform: uppercase;
}
.footer h4{
    text-transform: uppercase;
}
.boy h5{
    letter-spacing: 2px;
}